# Python / Venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
test_env/
Lib/
Scripts/
pyvenv.cfg
.env

# IntelliJ / VSCode
.idea/
.vscode/

# Temporary / Output Files
processed_results/
processed_files.json
simulation_lecture.txt
downloads/
temp/
*.log
ignored_scripts/
